*{
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(#9fff75, #1ec8a6);
  background-attachment: fixed; 
}
nav{
 
  background-color: #5399e4;
}
nav .header{
  color: #E8E8E8;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
}
article{
  background-color: #8585FF ;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
}


form{
  text-align: center;
  background-color: #8585FF;
  padding-bottom: 3%;
}
form input{
  margin-top: 0.6%;
  margin-right: 0.3%;
  border-radius: 25px;
  height: 30px;
  text-align: center;
}
form button{
  border-radius: 5px;
  height: 25px;
  width: 50px;
}
form button:active{
  background-color:violet;
}
form input::placeholder{
  text-align: center;
}

.Weather .header{
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.header .location{
  padding-left: 10%;
  padding-top: 4%;
}

.header .picture{
  padding-right: 10%;
  padding-top: 4%;
}
.WeatherDescription{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px 100px;
}
.Temperature{
  text-align: center;

}
.TemperatureDescription{
  text-align: center;
}
.TemperatureDegree{
  text-align: center;

}
